In [79]:
# download data
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2020-07-10 19:00:57--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  28.8MB/s    in 5.3s

2020-07-10 19:01:02 (29.0 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

**DATA PREPROCESSING**

In [80]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

In [81]:
# read data
movies=pd.read_csv('movies.csv')
rating=pd.read_csv('ratings.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [82]:
# using regular expression replace date from title and store in a new column
movies['year']=movies.title.str.extract('(\(\d\d\d\d\))',expand=False) # extracting with paranthesis
movies['year'] = movies.year.str.extract('(\d\d\d\d)',expand=False) # removing paranthesis from date
movies['title']=movies.title.str.replace('(\(\d\d\d\d\))', '') # removing date from title
movies['title']=movies['title'].apply(lambda x: x.strip())
movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [83]:
# split and convert genre into list
movies['genres']=movies.genres.str.split('|')
movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [84]:
# one hot encoding genres
moviesgen=movies.copy()
for index,row in movies.iterrows():
  for genre in row['genres']:
    moviesgen.at[index,genre]=1
moviesgen=moviesgen.fillna(0)
moviesgen.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [85]:
# rating data
rating.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [86]:
# drop timestamp column as its not needed
rating=rating.drop('timestamp',1)
rating.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

**CONTENT-BASED RECOMMENDATION SYSTEM**

In [87]:
# user input for movies
user=[
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
]
user=pd.DataFrame(user)
user

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [88]:
#Filtering out the movies by title
inputId = movies[movies['title'].isin(user['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, user)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [89]:
# learning input's preferences by filtering out the movies
usermovie=moviesgen[moviesgen['movieId'].isin(inputMovies['movieId'].tolist())]
usermovie

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
293       296         Pulp Fiction  ...       0.0                0.0
1246     1274                Akira  ...       0.0                0.0
1885     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [90]:
# cleaning up table to obtain the genre alone
usermovie=usermovie.reset_index(drop=True)
# dropping uneccesary colums
usermovie=usermovie.drop('movieId',1).drop('genres',1).drop('title',1).drop('year',1)
usermovie

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [91]:
# turn each genre into weights
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [92]:
# dot product to get weights
userProfile=usermovie.transpose().dot(inputMovies['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [93]:
# extract genre table from original database
genretab=moviesgen.set_index(moviesgen['movieId']).drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
genretab.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [95]:
genretab.shape

(34208, 20)

In [96]:
# weighted average taken 
recom=((genretab*userProfile).sum(axis=1))/(userProfile.sum())
recom.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [98]:
# the final recommendaion table for first 20 movies
movies.loc[movies['movieId'].isin(recom.head(20).keys())]

    movieId  ...  year
0         1  ...  1995
1         2  ...  1995
2         3  ...  1995
3         4  ...  1995
4         5  ...  1995
5         6  ...  1995
6         7  ...  1995
7         8  ...  1995
8         9  ...  1995
9        10  ...  1995
10       11  ...  1995
11       12  ...  1995
12       13  ...  1995
13       14  ...  1995
14       15  ...  1995
15       16  ...  1995
16       17  ...  1995
17       18  ...  1995
18       19  ...  1995
19       20  ...  1995

[20 rows x 4 columns]