In [0]:
#1. Assigning elements to different lists
lst=[] #creating empty list
lst1=[]
lst.append(3) #assigning elements to list lst using 'append'
lst1.append('$') #assigning elements to list lst1 using 'append'

In [2]:
lst

[3]

In [3]:
lst1

['$']

In [4]:
#2. Accessing elements from a tuple
tup=(lst) #converting the lst to tuple
tup

[3]

In [6]:
#3. Deleting different dictionary elements
dict={}
for i in range(3):
    dict[i]=i+10     #adding key and value to dictionary dict
dict

{0: 10, 1: 11, 2: 12}

In [7]:
del(dict[1])  #deleting diferent elements from dictionary using key
del(dict[0])
dict

{2: 12}